<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}葉物野菜判定アプリ{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #00b9f1;">
      <span class="navbar-brand mb-0 h1">葉物野菜判定アプリ</span>
    </nav>
  </div>

    <div class="contents" style="margin:0 20px">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>