{% extends 'send_image_app/base.html' %}

{% block content %}
    <div class="container" style="max-width: 1280px; margin-top: 20px; padding:4rem 8rem; background-color: #e9ecef; border-radius:0.3rem;">
        <h1 style="font-weight: bold;">使い方</h1>
        <p class="lead" style="font-size:1.25rem; font-weight: 300;">画像ファイルを選択して推論ボタンをクリックしてください。</p>
        <form  method="POST" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id = "inference" class="btn btn-success" style=margin-top:20px;>推定する</button>
        </form>
    </div>
{% endblock %}